{% if page.image.feature %}<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			<a href="{{ site.url }}/" class="site-logo-small" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="60" height="60" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead">
	<div class="wrap">
      {% if site.logo != null %}
  		<a href="{{ site.url }}/" class="site-logo-small" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="60" height="60" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
      {% endif %}
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>